.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

.Container {
  width: 34.25rem;
  height: 28.438rem;
  background-color: #E9E9E9;
  border-radius: 1.25rem;
}
