.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

.Container {
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  width: 34.25rem;
  height: 28.438rem;
  background-color: #E9E9E9;
  border-radius: 1.25rem;
}

input {
  width: 25rem;
  padding: 0 2.25rem;
  height: 3.75rem;
  font-size: 1.25rem;
  border: 0;
  border-radius: 0.625rem;
  background-color: #D9D9D9;
}

button {
  border: 0;
  border-radius: 1.25rem;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: bold;
  width: 13.25rem;
  height:3.75rem;
  margin: 0 auto;
}