body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00C0B5;
}

code {
  font-family: Inter;
}
